@import url(portada.css);
.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0!important;
    }
}

.formulario {
    background: hsla(0, 0%, 100%, 0.55)!important;
    backdrop-filter: blur(30px)!important;
}